apiVersion: v1
kind: Pod
metadata:
  name: temp-build
spec:
  restartPolicy: Never
  containers:
  - name: build-container
    image: docker:24.0.5-dind
    securityContext:
      privileged: true  # necesario para docker-in-docker
    env:
      - name: DOCKER_TLS_CERTDIR
        value: ""
    volumeMounts:
      - name: docker-sock
        mountPath: /var/run/docker.sock
  volumes:
    - name: docker-sock
      hostPath:
        path: /var/run/docker.sock
