apiVersion: v1
kind: Pod
metadata:
  name: temp-build
spec:
  restartPolicy: Never
  containers:
  - name: builder
    image: docker:24-dind
    command: ["sleep", "3600"]
    securityContext:
      privileged: true
    volumeMounts:
    - mountPath: /var/run/docker.sock
      name: docker-sock
  volumes:
  - name: docker-sock
    hostPath:
      path: /var/run/docker.sock
